@section style{
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">



    <link href="~/assets/plugins/fullcalendar/main.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

 }

    @section script{
    <script src="~/assets/plugins/fullcalendar/main.min.js"></script>
    <script src="~/assets/pages/calendar.init.js"></script>
 }


<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Metrica</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item">
                                    <a href="#">Apps</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item active">Calendar</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Calendar</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/small/calendar.svg" alt="" class="img-fluid">
                            <ul class="list-group">
                                <li class="list-group-item align-items-center d-flex">
                                    <div class="media">
                                        <img src="assets/images/small/project-1.jpg" class="me-3 thumb-sm align-self-center rounded-circle" alt="...">
                                        <div class="media-body align-self-center">
                                            <h6 class="mt-0 mb-1">Meeting with UI/UX Designers</h6>
                                            <p class="text-muted mb-0">Today 07:30 AM</p>
                                        </div><!--end media body-->
                                    </div>
                                </li>
                                <li class="list-group-item align-items-center ">
                                    <div class="media">
                                        <img src="assets/images/users/user-5.jpg" class="me-3 thumb-sm align-self-center rounded-circle" alt="...">
                                        <div class="media-body align-self-center">
                                            <h6 class="mt-0 mb-1">Lunch with my friend</h6>
                                            <p class="text-muted mb-0">Today 12:30 PM</p>
                                        </div><!--end media body-->
                                    </div>
                                </li>
                                <li class="list-group-item align-items-center">
                                    <div class="media">
                                        <img src="assets/images/small/project-3.jpg" class="me-3 thumb-sm align-self-center rounded-circle" alt="...">
                                        <div class="media-body align-self-center">
                                            <h6 class="mt-0 mb-1">Call for payment Project ID : #254136</h6>
                                            <p class="text-muted mb-0">Tomorrow 10:30 AM</p>
                                        </div><!--end media body-->
                                    </div>
                                </li>
                                <li class="list-group-item align-items-center ">
                                    <div class="media">
                                        <img src="assets/images/users/user-4.jpg" class="me-3 thumb-sm align-self-center rounded-circle" alt="...">
                                        <div class="media-body align-self-center">
                                            <h6 class="mt-0 mb-1">Picnic with my Family</h6>
                                            <p class="text-muted mb-0">01 June 2019 - 09:30 AM</p>
                                        </div><!--end media body-->
                                    </div>
                                </li>
                                <li class="list-group-item align-items-center">
                                    <div class="media">
                                        <img src="assets/images/small/project-4.jpg" class="me-3 thumb-sm align-self-center rounded-circle" alt="...">
                                        <div class="media-body align-self-center">
                                            <h6 class="mt-0 mb-1">Meeting with Developers</h6>
                                            <p class="text-muted mb-0">04 June 2019 - 07:30 AM</p>
                                        </div><!--end media body-->
                                    </div>
                                </li>
                            </ul>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div id='calendar'></div>
                            <div style='clear:both'></div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
            </div><!-- End row -->

        </div><!-- container -->
        <!--Start Rightbar-->
        <!--Start Rightbar/offcanvas-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
                <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h6>Account Settings</h6>
                <div class="p-2 text-start mt-3">
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch1">
                        <label class="form-check-label" for="settings-switch1">Auto updates</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch2" checked>
                        <label class="form-check-label" for="settings-switch2">Location Permission</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="settings-switch3">
                        <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                    </div><!--end form-switch-->
                </div><!--end /div-->
                <h6>General Settings</h6>
                <div class="p-2 text-start mt-3">
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch4">
                        <label class="form-check-label" for="settings-switch4">Show me Online</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch5" checked>
                        <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="settings-switch6">
                        <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                    </div><!--end form-switch-->
                </div><!--end /div-->
            </div><!--end offcanvas-body-->
        </div>
        <!--end Rightbar/offcanvas-->
        <!--end Rightbar-->

        <!-- end Footer -->
        <!--end footer-->
    </div>
    <!-- end page content -->
</div>
