
@section style{
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">



    <link href="~/assets/plugins/tree/listree.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />


 }    

    @section script{
    <script src="~/assets/plugins/tree/listree.umd.min.js"></script>
    <script src="~/assets/pages/tree.init.js"></script>
 }

    <div class="page-wrapper">

        <!-- Page Content-->
        <div class="page-content-tab">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Metrica</a></li>
                                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                    <li class="breadcrumb-item active">Treeview</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Treeview</h4>
                        </div>
                        <!--end page-title-box-->
                    </div>
                    <!--end col-->
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Listree Example</h4>
                                <p class="text-muted mb-0">
                                    An extremely lightweight JavaScript library to create a minimal, clean,
                                    collapsible tree structure from nested HTML lists.
                                </p>
                            </div><!--end card-header-->
                            <div class="card-body">

                                <ul class="listree">
                                    <li>
                                        <div class="listree-submenu-heading">Metrics</div>
                                        <ul class="listree-submenu-items">
                                            <li>
                                                <div class="listree-submenu-heading">Daily Metrics</div>
                                                <ul class="listree-submenu-items">
                                                    <li>
                                                        <div class="listree-submenu-heading">Daily Order Metrics</div>
                                                        <ul class="listree-submenu-items">
                                                            <li>
                                                                <div class="listree-submenu-heading">Categorywise Daily order metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Categorywise daily order count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Categorywise daily bookings</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="listree-submenu-heading">Storewise Daily order metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Storewise daily order count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Storewise daily bookings</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <div class="listree-submenu-heading">Daily Invoice Metrics</div>
                                                        <ul class="listree-submenu-items">
                                                            <li>
                                                                <div class="listree-submenu-heading">Categorywise Daily invoice metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Categorywise daily invoice count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Categorywise daily revenue</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="listree-submenu-heading">Storewise Daily invoice metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Storewise daily invoice count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Storewise daily revenue</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="listree-submenu-heading">Monthly Metrics</div>
                                                <ul class="listree-submenu-items">
                                                    <li>
                                                        <div class="listree-submenu-heading">Monthly Order Metrics</div>
                                                        <ul class="listree-submenu-items">
                                                            <li>
                                                                <div class="listree-submenu-heading">Categorywise Monthly order metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Categorywise monthly order count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Categorywise monthly bookings</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="listree-submenu-heading">Storewise Monthly order metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Storewise monthly order count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Storewise monthly bookings</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <div class="listree-submenu-heading">Monthly Invoice Metrics</div>
                                                        <ul class="listree-submenu-items">
                                                            <li>
                                                                <div class="listree-submenu-heading">Categorywise Monthly invoice metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Categorywise monthly invoice count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Categorywise monthly revenue</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="listree-submenu-heading">Storewise Monthly invoice metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Storewise monthly invoice count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Storewise monthly revenue</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="listree-submenu-heading">Settings</div>
                                        <ul class="listree-submenu-items">
                                            <li>
                                                <div class="listree-submenu-heading">Personal Settings</div>
                                                <ul class="listree-submenu-items">
                                                    <li><a href="">Password Settings</a></li>
                                                    <li><a href="">Viewing Preferences</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="listree-submenu-heading">Org Settings</div>
                                                <ul class="listree-submenu-items">
                                                    <li><a href="">Teams</a></li>
                                                    <li><a href="">Billing</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>


                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Listree Custom Folder Icon</h4>
                                <p class="text-muted mb-0">
                                    An extremely lightweight JavaScript library to create a minimal, clean,
                                    collapsible tree structure from nested HTML lists.
                                </p>
                            </div><!--end card-header-->
                            <div class="card-body">

                                <ul class="listree folder-icon">
                                    <li>
                                        <div class="listree-submenu-heading">Metrics</div>
                                        <ul class="listree-submenu-items">
                                            <li>
                                                <div class="listree-submenu-heading">Daily Metrics</div>
                                                <ul class="listree-submenu-items">
                                                    <li>
                                                        <div class="listree-submenu-heading">Daily Order Metrics</div>
                                                        <ul class="listree-submenu-items">
                                                            <li>
                                                                <div class="listree-submenu-heading">Categorywise Daily order metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Categorywise daily order count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Categorywise daily bookings</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="listree-submenu-heading">Storewise Daily order metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Storewise daily order count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Storewise daily bookings</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <div class="listree-submenu-heading">Daily Invoice Metrics</div>
                                                        <ul class="listree-submenu-items">
                                                            <li>
                                                                <div class="listree-submenu-heading">Categorywise Daily invoice metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Categorywise daily invoice count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Categorywise daily revenue</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="listree-submenu-heading">Storewise Daily invoice metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Storewise daily invoice count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Storewise daily revenue</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="listree-submenu-heading">Monthly Metrics</div>
                                                <ul class="listree-submenu-items">
                                                    <li>
                                                        <div class="listree-submenu-heading">Monthly Order Metrics</div>
                                                        <ul class="listree-submenu-items">
                                                            <li>
                                                                <div class="listree-submenu-heading">Categorywise Monthly order metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Categorywise monthly order count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Categorywise monthly bookings</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="listree-submenu-heading">Storewise Monthly order metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Storewise monthly order count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Storewise monthly bookings</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <div class="listree-submenu-heading">Monthly Invoice Metrics</div>
                                                        <ul class="listree-submenu-items">
                                                            <li>
                                                                <div class="listree-submenu-heading">Categorywise Monthly invoice metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Categorywise monthly invoice count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Categorywise monthly revenue</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="listree-submenu-heading">Storewise Monthly invoice metrics</div>
                                                                <ul class="listree-submenu-items">
                                                                    <li>
                                                                        <a href="">Storewise monthly invoice count</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="">Storewise monthly revenue</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="listree-submenu-heading">Settings</div>
                                        <ul class="listree-submenu-items">
                                            <li>
                                                <div class="listree-submenu-heading">Personal Settings</div>
                                                <ul class="listree-submenu-items">
                                                    <li><a href="">Password Settings</a></li>
                                                    <li><a href="">Viewing Preferences</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="listree-submenu-heading">Org Settings</div>
                                                <ul class="listree-submenu-items">
                                                    <li><a href="">Teams</a></li>
                                                    <li><a href="">Billing</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->

            </div><!-- container -->
            <!--Start Rightbar-->
            <!--Start Rightbar/offcanvas-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
                <div class="offcanvas-header border-bottom">
                    <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
                    <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h6>Account Settings</h6>
                    <div class="p-2 text-start mt-3">
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch1">
                            <label class="form-check-label" for="settings-switch1">Auto updates</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch2" checked>
                            <label class="form-check-label" for="settings-switch2">Location Permission</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="settings-switch3">
                            <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                        </div><!--end form-switch-->
                    </div><!--end /div-->
                    <h6>General Settings</h6>
                    <div class="p-2 text-start mt-3">
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch4">
                            <label class="form-check-label" for="settings-switch4">Show me Online</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch5" checked>
                            <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="settings-switch6">
                            <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                        </div><!--end form-switch-->
                    </div><!--end /div-->
                </div><!--end offcanvas-body-->
            </div>

            <!-- end Footer -->
            <!--end footer-->
        </div>
        <!-- end page content -->
    </div>