@section style{
    <link href="~/assets/plugins/tobii/tobii.min.css" rel="stylesheet" type="text/css" />
}
@section script{
    <script src="~/assets/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/assets/plugins/tobii/tobii.min.js"></script>
    <script src="~/assets/pages/gallery.init.js"></script>
}


<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Metrica</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item active">Gallery</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Gallery</h4>
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">

                <div class="col-md-6 col-lg-auto filters-group-wrap">
                    <div class="filters-group mb-3">
                        <p class="filter-label mb-0">Filter</p>
                        <div class="btn-group filter-options">
                            <button class="btn btn-primary" data-group="fashion">Fashion</button>
                            <button class="btn btn-primary" data-group="animal">Animal</button>
                            <button class="btn btn-primary" data-group="food">Food</button>
                        </div>
                    </div>
                </div>
            </div>


            <div id="grid" class="row g-0">
                <div class="col-md-4 col-lg-3 picture-item" data-groups='["fashion"]'>
                    <a href="~/assets/images/small/img-1.jpg" class="lightbox">
                        <img src="~/assets/images/small/img-1.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 picture-item picture-item--overlay" data-groups='["food"]'>
                    <a href="~/assets/images/small/img-2.jpg" class="lightbox">
                        <img src="~/assets/images/small/img-2.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 picture-item" data-groups='["animal"]'>
                    <a href="~/assets/images/small/img-3.jpg" class="lightbox">
                        <img src="~/assets/images/small/img-3.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 picture-item picture-item--h2" data-groups='["food"]'>
                    <a href="~/assets/images/small/img-4.jpg" class="lightbox">
                        <img src="~/assets/images/small/img-4.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 picture-item" data-groups='["food", "animal"]'>
                    <a href="~/assets/images/small/img-5.jpg" class="lightbox">
                        <img src="~/assets/images/small/img-5.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 picture-item picture-item--overlay" data-groups='["fashion"]'>
                    <a href="~/assets/images/small/img-6.jpg" class="lightbox">
                        <img src="~/assets/images/small/img-6.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 picture-item picture-item--h2" data-groups='["food"]'>
                    <a href="~/assets/images/small/img-2.jpg" class="lightbox">
                        <img src="~/assets/images/small/img-2.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 picture-item picture-item--h2" data-groups='["fashion"]'>
                    <a href="~/assets/images/small/img-1.jpg" class="lightbox">
                        <img src="~/assets/images/small/img-1.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div><!-- container -->
        <!--Start Rightbar-->
        <!--Start Rightbar/offcanvas-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
                <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h6>Account Settings</h6>
                <div class="p-2 text-start mt-3">
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch1">
                        <label class="form-check-label" for="settings-switch1">Auto updates</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch2" checked>
                        <label class="form-check-label" for="settings-switch2">Location Permission</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="settings-switch3">
                        <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                    </div><!--end form-switch-->
                </div><!--end /div-->
                <h6>General Settings</h6>
                <div class="p-2 text-start mt-3">
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch4">
                        <label class="form-check-label" for="settings-switch4">Show me Online</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch5" checked>
                        <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="settings-switch6">
                        <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                    </div><!--end form-switch-->
                </div><!--end /div-->
            </div><!--end offcanvas-body-->
        </div>
        <!--end Rightbar/offcanvas-->
        <!--end footer-->
    </div>
    <!-- end page content -->
</div>